#mhlogo{
    width: 50px;
}
.para{
    padding: 50px;
}
#h1{
    font-size: 64px;

}
#uppertxt{
    font-size: 30px;
}
#belowtxt{
    font-size: 25px;
}
#spotifyimg{
    width: 200px;    
    padding-top: 77px

}
#fashionimg{
    width: 200px;
    padding-top: 62px
}
#jaguarimg{
    padding-top: 17px;
}