#mhlogo {
    width: 50px;
}

.para {
    padding: 50px;
}

#h1 {
    font-size: 64px;
}

#uppertxt {
    font-size: 30px;
}

#belowtxt {
    font-size: 25px;
}

#spotifyimg {
    width: 200px;
    padding-top: 77px
}

#fashionimg {
    width: 200px;
    padding-top: 62px
}

#jaguarimg {
    padding-top: 17px;
}

#card1img {
    width: 50px;
}

#card2img {
    width: 50px;
}

#card3img {
    width: 50px;
}

#card4img {
    width: 50px;
}

.cards:hover {
    background-color: #98BA7E;
}

.hrtag {
    width: 40%;
    text-align: left;
    margin-left: 0;
    border: 2px solid red;
}


#picbtn {
    border: none;
}

#picbox {
    padding-top: 60px;
}

#boxwithpic {
    padding-top: 75px;
    padding-bottom: 60px;
}

#cardscaontainer {
    padding: 100px;
    background-color: #EFF6EE;
}

.card2 {
    background-color: white;
}

.card2:hover {
    background-color: #98BA7E;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.download-symbol {
    width: 30px;
}

.cardpara {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.currency-value {
    color: #DFBD99;
    border: black;
}

.card2btn {
    border-radius: 30px;
}

#pricewithsign {
    color: #98BA7E;
}

#month {
    color: blue;
    font-size: small;
}

#ul {
    list-style: url("../Assets/check-symbol.png ");
}

.card3:hover {

    background-color: #98BA7E;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    #pricewithsign {
        color: white;
    }
}

.conatiner-cards {
    padding-left: 200px;
    padding-right: 200px;
}
.card3btn{
    border-radius: 20px;
    width: 90%;
    margin: 10px;
    
}
